openapi: 3.0.0
info:
  title: JaPong Cluster Manager
  description: API specification of JaPong Cluster Manager
  contact:
    name: Yuji Tabata
    url: https://yuji.page
    email: yuji.jd.tabata@gmail.com
  version: 0.1.0
servers:
- url: https://japong.yuji.page
  description: Production cluster manager server
paths:
  /games:
    get:
      description: Returns the overview of all the game rooms belonging to the cluster.
      responses:
        '200':
          description: A list of game overviews.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameOverview'
    post:
      description: Enter a game room.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  type: string
                  enum:
                    - us-central
                    - asia-northeast
                roomNo:
                  type: integer
              example:
                region: us-central
                roomNo: 2
      responses:
        '200':
          description: Successfully entered into a game room.
          content:
            application/json:
              schema:
                type: object
                properties:
                  gameRoomURL:
                    type: string
                    format: url
              example:
                gameRoomURL: https://us-central.japong.yuji.page/v1/?room=2
        '404':
          description: The requested room does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                 code:
                  type: string
                  enum:
                    - ROOM_NOT_EXIST
        '409':
          description: The requested room is already full.
          content:
            application/json:
              schema:
                type: object
                properties:
                 code:
                  type: string
                  enum:
                    - ROOM_ALREADY_FULL
components:
  schemas:
    GameOverview:
      type: object
      properties:
        status:
          type: string
          enum:
            - NO_PLAYERS
            - ONLY_PLAYER_0
            - ONLY_PLAYER_1
            - IN_GAME
            - FINISHED
        player0:
          type: object
          properties:
            name:
              type: string
            score:
              type: integer
          nullable: true
        player1:
          type: string
          properties:
            name:
              type: string
            score:
              type: integer
          nullable: true
      example:
        status: IN_GAME
        player0:
          name: Kevin
          score: 2
        player1:
          name: Eric
          score: 1