openapi: 3.0.0
info:
  title: JaPong Node I/O
  description: API specification of JaPong Node I/O
  contact:
    name: Yuji Tabata
    url: https://yuji.page
    email: yuji.jd.tabata@gmail.com
  version: 0.1.0
servers:
- url: https://us-central.japong.yuji.page
  description: JaPong node in the us-central region
- url: https://asia-northeast.japong.yuji.page
  description: JaPong node in the asia-northeast region
paths:
  /games:
    get:
      description: Returns the overview of all the game rooms in the node.
      responses:
        '200':
          description: A list of game overviews.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GameOverview'
components:
  schemas:
    GameOverview:
      type: object
      properties:
        status:
          type: string
          enum:
            - NO_PLAYERS
            - ONLY_PLAYER_0
            - ONLY_PLAYER_1
            - IN_GAME
            - FINISHED
        player0:
          type: object
          properties:
            name:
              type: string
            score:
              type: integer
          nullable: true
        player1:
          type: string
          properties:
            name:
              type: string
            score:
              type: integer
          nullable: true
      example:
        status: IN_GAME
        player0:
          name: Kevin
          score: 2
        player1:
          name: Eric
          score: 1